{% extends 'layout/basic.html' %}
{% load crispy_forms_filters %}

{% load crispy_forms_tags %}
{% block content %}
    <h2>Регистрация</h2>
    <form method="post">
    {% csrf_token %}

        <div class="col-6">
            {{ form.username|as_crispy_field }}
        </div>

        <div class="col-6">
            {{ form.password1|as_crispy_field }}
        </div>

        <div class="col-6">
            {{ form.password2|as_crispy_field }}
        </div>


    <button type="submit" class="btn btn-success">Зарегистрироваться</button>
    </form>
{% endblock content %}