{% extends "layout/basic.html" %}
{% block content %}

    {% for item in premises %}
        <div class="card mb-3" >
        <h4 class="card-header"><a href="{% url 'by_area' item.pk %}">{{ item.areaName }}</a></h4>
    <div class="row">
        <div class="col-lg-5">
            <a href="{% url 'by_area' item.pk %}">
                            <img src="{{ item.photo.url }}" width="300" height="250"  alt=""/>
                 </a>
        </div>

            <div class="col-lg-7">

                <h5 class="card-title">{{ item.describe }}</h5>
                <p class="card-text">Площадь: {{ item.area }}</p>
                <p class="card-text">Этаж: {{ item.floor}}</p>
                <p class="card-text">Цена: {{ item.price}}</p>
            </div>

        </div>
        </div>
    {% endfor %}


{% endblock %}